.Title{
    display: inline-flex;
    margin-top: 8rem;
    font-size: 7rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin-left: 1rem;
}

.navbar{
    /* put space under */
    padding: 10rem 0;
}