.PosCard {
  /*  flexbox with column direction */
  display: flex;
  flex-direction: column;
  /*  radial background gradient of greens*/
  background: linear-gradient(90deg, #23d84a 0%, #057019 100%);
  /*  border radius */
  border-radius: 1rem;
  /*  padding */
  padding: 1rem;
  /*  margin */
  margin: 1rem;
  /* width 20rem height 15rem */
  min-width: 20rem;
  min-height: 15rem;
}

/* the anchor tag should not affect the div it surrounds.  */
.PosCard a {
  text-decoration: none;
  color: #fafafa;
}

.PosCard h3 {
  /* font color black */
  color: #000;
  font-family: "Roboto", sans-serif;
  /* move it near top of container */
  margin-top: -1rem;
  font-size: 2rem;
}

.PosCard h6 {
  color: #000;
  font-size: 1rem;
  /* put space under this */
  margin-bottom: 1rem;
}

.PosCard p {
  color: #000;
  font-size: 1rem;
}
